<div class="content-body">
  <div>
    <h1><a><b>Sistemas</b> MPFN</a></h1>
  </div>

  <body>
    <mat-card>
      <img class="login-logo" src="https://portal.mpfn.gob.pe/images/logo/logotipo_mpfn-02.png">
      <br>
      <h2>Acceso al Ministerio Publico Observatorio </h2>

      <div class="login-box-body">
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
          <div class="emailImput">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Usuario</mat-label>
              <input formControlName="usuario" matInput placeholder="Ingrese su Usuario" required />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput [type]=" hide ?  'text' : 'password'" required />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                [attr.aria-pressed]="hide">
                <mat-icon>
                  {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </button>
              <mat-error *ngIf="!loginForm.controls['password'].valid">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>
          <button mat-flat-button color="primary">Iniciar Sesión</button>
        </form>
      </div>
    </mat-card>
  </body>
</div>
