.contenedor {
  padding-top: 60px;
  padding-left: 20px;
}

.main-menu {
  position: fixed;
  z-index: 100;
}
mat-toolbar{
  background: #ffffff;
}
.logo-img{
    width:150px;
    text-align: center;
}
a{
  margin-left: 25px;
  margin-right: 25px;
  text-align:left;
}
.left-aling{
  text-align:left;
}
