table {
  width:90%;
}
body {
  padding-left: 50px;
  padding-right: 50px;

}
h1  {
  text-align: center;
  color: rgb(255, 255, 255);
}
.mdc-data-table__header-cell{
  text-align: center;

}
.mat-column-idAlerta {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.right{
  text-align: right;
}
