<app-menu>
</app-menu>
<div class="cuerpo-contenedor">
  <div class="contenedor">
    <mat-card class="mini-contenedor">
      <div>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>WhatsApp</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="content-text">
          Llevamos la cuenta de las alertas entregadas por WhatsApp, click aquí si quieres ver el detalle
        </mat-card-content>
      </div>
      <img mat-card-lg-image src="https://assets.mofoprod.net/network/images/whatsapp_logo.original.jpg">
    </mat-card>
  </div> <br>
  <div class="contenedor">
    <mat-card class="mini-contenedor">
      <div>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Correo</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="content-text">
          Llevamos la cuenta de las alertas entregadas por Correo, click aquí si quieres ver el detalle
        </mat-card-content>
      </div>
      <img mat-card-lg-image src="assets\data\correo-electronico.png">
    </mat-card>
  </div><br>
  <div class="contenedor">
    <mat-card class="mini-contenedor">
      <div>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Mensaje de Texto</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="content-text">
          Llevamos la cuenta de las alertas entregadas por Mensaje de Texto, click aquí si quieres ver el detalle
        </mat-card-content>
      </div>
      <img mat-card-lg-image src="assets\data\mensaje-texto.png">
    </mat-card>
  </div>
</div>
